
@include small-screen-min {
  .main-navigation {
    margin: $margin 0;
    text-align: center;

    .nav-menu {
      position: relative;
      text-align: left;
      display: block;
      z-index: 15;
    }

    .nav-item {
      display: inline-block;
    }

    .nav-item > a.open {
      border-bottom: none;
      z-index: 1;
    }

    .nav-item > a {
      float: left;
      position: relative;
      display: inline-block;
      padding: $padding/2 $padding;
    }

    .nav-item > a:hover,
    .nav-item > a:focus,
    .nav-item > a.open  {
      background: $medium-grey;
    }

    .nav-item > a:focus {
      outline: 2px solid $brand-primary;
    }

    .sub-nav {
      background: $medium-grey;
      position: absolute;
      display: none;
      top: 60px;
      padding: $padding/2 $padding;
    }

    .sub-nav.open {
      display: block;
    }

    .sub-nav-group {
      float: left;
      padding: $padding;
    }

    .sub-nav ul {
      display: inline-block;
      vertical-align: top;
      margin: 0 $margin 0 0;
      padding: 0;
    }

    .sub-nav li {
      padding: 0 0 0 $padding/2;
      display: block;
    }

    .sub-nav a {
      display: block;
      margin: 0 $margin 0 0;
      min-width: 200px;
    }

    .sub-nav a:focus {
      outline: 2px solid $brand-primary;
    }

  }
} // end small-screen-min

@media screen and (max-width: $small-screen) {

  .main-navigation {
    .nav-item {
      display: block;
      width: 100%;
    }

    .nav-item > a {
      float: none;
      display: block;
    }

    .sub-nav {
      display: block;
      position: static;
    }

    .sub-nav-group {
      float: none;
      width: 100%;
    }

    .sub-nav a {
      min-width: 100%;
      display: block;
    }
  }
}
