// Typography

// Headings
h1 {
  font-size: $base-font-size*2.618;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h2 {
  font-size: $base-font-size*1.74;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h3 {
  font-size: $base-font-size*1.618;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h4 {
  font-size: $base-font-size*1.076;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h5 {
  font-size: $base-font-size;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h6 {
  font-size: $base-font-size;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

.rich-text {

  p {
    margin: 0 0 1em 0;
    max-width: 40em;
    -webkit-font-variant-ligatures: discretionary-ligatures;
  }

  ul {
    margin: 0 0 1em 1em;
    li {
      list-style-type: disc;
      ul {
        margin: 0 0 0 1em;
        li {
          list-style-type: circle;
        }
      }
    }
  }

  ol {
    margin: 0 0 1em 1em;
    li {
      list-style-type: decimal;
      ol {
        margin: 0 0 0 1em;
        li {
          list-style-type: lower-latin;
        }
      }
    }
  }

  blockquote {
    padding: 0 0 0 2em;
    margin: 0 0 1em 0;
    max-width: 40em;
    border-left: 4px solid scale-color($base-font-colour, $lightness: 50%);

    cite:before {
      content: "\2014\00a0";
    }

    cite {
      font-family: $font-family-serif;
    }
  }

  // Horizontal Rule

  hr { }

  hr:after { }

  a {
    color: $link-colour;
    text-decoration: none;
  }

  a:hover {
    color: $link-hover-colour;
  }

  a:visited {
    color: $link-colour;
  }

  a:active {
    color: $black;
    background: $highlight;
  }

  a:focus { }

}
