// Global Form Styles

input[type='text'],
input[type='search'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='password'],
input[type='number'],
input[type='time'],
input[type='date'],
input[type='datetime-local'],
input[type='time'],
input[type='week'],
input[type='month'],
textarea {
  padding: var(--ks-form-padding);
  border-width: var(--ks-form-border-width);
  border-color: var(--ks-form-border-color);
  border-style: solid;
  background-color: var(--ks-form-background-color);
  outline: none;
  border-radius: var(--ks-border-radius);

  &:focus {
    border-color: var(--ks-form-border-focus-color);
  }
}

textarea {
  appearance: none;
}

input[type='range'] {
}

input[type='file'] {
}

textarea {
  resize: none;
}

// Buttons

.button,
input[type='submit'] {
  appearance: none;
  cursor: pointer;
}

.button:hover {
}

.button:active,
.button:focus {
}

.button[disabled='disabled'],
.button:hover[disabled='disabled'] {
}

// Labels

label {
  display: block;
  margin-bottom: var(--ks-space-s);
}

legend {
}

fieldset {
  border-color: var(--ks-form-border-focus-color);
}

.data-collection {
}

.form-group {
  margin-bottom: var(--ks-space-m);
}

.form-row {
}

.form-buttons {
}

.form-group label,
.form-group legend {
}

.form-group em {
}

.form-group .required {
}

.form-error {
}

.form-error input[type='text'] {
}

.form-error span {
}

// Radios and Checboxes

label.radio-group,
label.checkbox-group {
}

.block-labels {
  label.radio-group,
  label.checkbox-group {
  }
}

label.radio-group:hover,
label.radio-group.selected,
label.checkbox-group:hover,
label.checkbox-group.selected {
}

label.radio-group input[type='radio'],
label.checkbox-group input[type='checkbox'] {
}
