
// Header

.header {
  padding: $spacer $spacer2;
  background: $light-grey;

  .logo {
    width: 150px;
    height: 150px;
  }

  .search-form {
    display: flex;

    .button {
      margin: 0;
    }
  }

}
