// Site

html {
}

body {
  font-family: var(--ks-font-family-sans);
  margin: var(--ks-space-xxl);
}

main {
  display: flex;
  flex-flow: column;
  gap: var(--ks-space-xxl);
}

section {
  display: flex;
  flex-flow: column;
  gap: var(--ks-space-xl);
}
