// Site

html {
  background: $body-background;
}

body {
  font-family: $base-sans;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-colour;
}

main {
  margin: auto;
  padding: 0 $spacer2;
}

.group {
  @include group;
}

.hide {
  @include hide;
}
