// Typography

// Headings

.typography.mono {
  font-family: var(--ks-font-family-mono);
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

.rich-text {
  p {
  }

  ul {
    li {
      ul {
        li {
        }
      }
    }
  }

  ol {
    li {
      ol {
        li {
        }
      }
    }
  }

  blockquote {
    cite:before {
    }

    cite {
    }
  }

  abbr {
  }

  hr {
  }

  hr:after {
  }

  a {
  }

  a:hover {
  }

  a:visited {
  }

  a:active {
  }

  a:focus {
  }
}
