.hero {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }

  .hero-caption {
    position: absolute;
    bottom:30px;
    left: 30px;
    background: $black;
    padding: 15px;
    color: $light-grey;
    h2 {
      margin: 0;
    }
    a {
      color: $link-colour;
    }
  }
}

// Section Headers

.section-header {
  border-bottom:1px solid scale-color($border-colour, $lightness: 50%);
  border-top:1px solid scale-color($border-colour, $lightness: 50%);
  margin: 30px 0;
}

.section-header h1 {
  margin: 0.5em 0;
}

// Typography and brand

.typography-and-brand {

  font-size: $base-font-size*2.618;

  .sans p {
    font-family: $font-family-sans;
  }

  .serif p {
    font-family: $font-family-serif;
  }

  .colours {

    li {
      text-indent: -9999em;
      height: 100px;
      width: 100px;
      border-radius: 50px;
      background: $base-font-colour;
      margin: 0 1em 0 0;
      display: inline-block;
    }

    .primary {
      background: $brand-primary;
    }

    .secondary {
      background: $brand-secondary;
    }

    .tertiary {
      background: $brand-tertiary;
    }

    .error {
      background: $error;
    }

    .hightlight {
      background: $highlight;
    }
  }
}

.triangle-up:before {
  @include arrow-up(30px,#000)
}

.triangle-down:before {
  @include arrow-down(30px,$highlight)
}

.grid {
  @include row(true);

  > div {
    height: 100px;
    background: $pink-25;
    background-clip: content-box;
    margin-bottom: $margin;
  }

  .column-full {
    @include col(1);
  }

  .column-half {
    @include col(1/2);
  }

  .column-third {
    @include col(1/3);
  }

  .column-two-thirds {
    @include col(2/3);
  }

  .column-quarter {
    @include col(1/4);
  }

  .column-three-quarters {
    @include col(3/4);
  }

  .column-fifth {
    @include col(1/5);
  }

  .column-two-fifths {
    @include col(2/5);
  }

  .column-three-fifths {
    @include col(3/5);
  }

  .column-four-fifths {
    @include col(4/5);
  }
}
