.hero {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .hero-caption {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background: $black;
    padding: 15px;
    color: $light-grey;

    h2 {
      margin: 0;
    }

    a {
      color: $link-colour;
    }
  }
}
// Section Headers
.section-header {
  border-bottom: 5px solid scale-color($border-colour, $lightness: 50%);
  margin: $margin * 3 0 $margin;
}

.section-header h1 {
  margin: $margin 0;
}
// Typography and brand
.typography-and-brand {
  font-size: $base-font-size * 2.618;

  .sans p {
    font-family: $font-family-sans;
  }

  .serif p {
    font-family: $font-family-serif;
  }

  .colours {
    li {
      text-indent: -9999em;
      height: 100px;
      width: 100px;
      border-radius: 50px;
      background: $base-font-colour;
      margin: 0 1em 0 0;
      display: inline-block;
    }

    .primary {
      background: $brand-primary;
    }

    .secondary {
      background: $brand-secondary;
    }

    .tertiary {
      background: $brand-tertiary;
    }

    .error {
      background: $error;
    }

    .hightlight {
      background: $highlight;
    }
  }
}
