// Paths
$imagePath: "/images";
$fontPath: "/fonts";

// Site Width
$site-max-width: 1020px;

// Breakpoints

$big-screen: 1020px;
$medium-screen: 900px;
$small-screen: 780px;
$tiny-screen: 480px;

// Colours

//Brand
$brand-primary: #2e358b;
$brand-secondary: #6f72af;
$brand-tertiary: #d53880;

// Errors
$highlight: #ffbf47;
$error: #df3034;

// Base Site
$base-font-colour: #222;
$body-bg: #fff;
$light-grey: #f8f8f8;
$medium-grey: #c8c8c8;
$black: #0b0c0c;
$link-colour: #005ea5;
$link-hover-colour: #2e8aca;

// Buttons
$button: #2e358b;
$button-inactive: #6f72af;
$button-hover: #912b88;

// Tables
$table-borders: #666;

// Borders
$border-colour: #6f777b;
$border-radius: 0px;
$input-border: #6f777b;
$input-border-focus: #ffbf47;

// Margins
$margin: 30px;

// Padding
$padding: 30px;

// Standard GDS colour pallet
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss
$purple: #2e358b;
$mauve: #6f72af;
$fuschia: #912b88;
$pink: #d53880;
$baby-pink: #f499be;
$red: #b10e1e;
$mellow-red: #df3034;
$orange: #f47738;
$brown: #b58840;
$yellow: #ffbf47;
$grass-green: #85994b;
$green: #006435;
$turquoise: #28a197;
$light-blue: #2b8cc4;