// Resets / Global form styles

input[type=text],
input[type=search],
input[type=email],
input[type=phone],
input[type=password],
textarea {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border-radius: 0;
  border: 2px solid scale-color($input-border, $lightness: 50%);
  font-size: $base-font-size;
  padding: 5px;
  margin: 0;
  outline: 0;
  transition: all 0.2s ease-in-out;
  width: 50%;
}

input[type=file] {
  outline: none;
  font-size: $base-font-size;
}

textarea {
  resize: none;
}

input[type=text]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=phone]:focus,
input[type=password]:focus,
textarea:focus {
  border: 2px solid $input-border-focus;
}

// Buttons

.button {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor: pointer;
  border: 0;
  padding: 15px 30px;
  background: $button;
  font-size: $base-font-size;
  color: $light-grey;
  transition: all 0.2s ease-in-out;
  margin: 0 0 30px 0;
}

.button:hover {
  background: $button-hover;
}

.button:active, .button:focus {
  background: $button-hover;
}

.button[disabled="disabled"], .button:hover[disabled="disabled"] {
  background: $button-inactive;
  cursor: default;
  opacity: 0.5;
}

// Labels

.data-collection {
  padding: 15px;
  border: 1px solid scale-color($input-border, $lightness: 75%);
}

.form-group label, .form-group legend {
  display: block;
  padding: 0 0 7.5px 0;
}

.form-group em {
  font-style: italic;
  display: block;
  color: scale-color($base-font-colour, $lightness: 50%);
  font-size: $base-font-size/1.618;
}

.form-group, .form-buttons {
  padding: 0 15px;
  margin: 0 0 30px 0;
}

.form-group .required {
  font-size: $base-font-size/1.618;
}

.form-error {
  padding: 15px;
  background: scale-color($error, $lightness: 50%);
}

.form-error input[type=text] {
  border-color: $error;
}

.form-error span {
  font-weight: 600;
}


label.radio-group, label.checkbox-group {
  position: relative;
  background: scale-color($input-border, $lightness: 75%);
  border: 2px solid scale-color($input-border, $lightness: 75%);
  padding: 15px 30px 15px 45px;
  margin: 0 1em 1em 0;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.block-labels {

  label.radio-group, label.checkbox-group {
    float: left;
    display: block;
    clear:left;
  }

}

label.radio-group:hover, label.radio-group.selected,
label.checkbox-group:hover, label.checkbox-group.selected {
  border:2px solid scale-color($input-border-focus, $lightness: 0%);
}

label.radio-group input[type=radio],
label.checkbox-group input[type=checkbox] {
  position: absolute;
  top: 20px;
  left: 15px;
}
