// Grid Mixins should maybe do some magic on this with some maths
// 990px max width 30px gutters

// 30
$col-margin: 3.03030303%;

@mixin full {
  width: 100%;
  float: none;
}

//480
@mixin column-half ($float) {
  width: 48.48484848%;
  float: $float;
}

// 310
@mixin column-third ($float) {
 width: 31.31313131%;
 float: $float;
}

@mixin column-two-thirds ($float) {
  width: 65.65656565%;
  float: $float;
}

// 225
@mixin column-quarter ($float) {
  width: 22.72727273%;
  float: $float;
}
// 735
@mixin column-three-quarters ($float) {
  width: 74.24242424%;
  float: $float;
}

// 174
@mixin column-fifth ($float) {
  width: 17.57575758%;
  float: $float;
}

// 378
@mixin column-two-fifths ($float) {
  width: 38.18181818%;
  float: $float;
}

// 582
@mixin column-three-fifths ($float) {
  width: 58.78787879%;
  float: $float;
}

// 786
@mixin column-four-fifths ($float) {
  width: 79.39393939%;
  float: $float;
}
