
// Header

.header {
  padding: 30px 0;
  background: $light-grey;

  .logo {
    width: 150px;
    height: 150px;
    clear: both;
    margin: auto;

    img {
    width: 100%;
    }
  }

  .search .button {
    padding: 7px $padding
  }

}

