// Percentage Function
// Use like this
// div {width: pc(500,1280);}

@function pc($wanted, $parent) {
  @return #{($wanted / $parent) * 100 + '%'};
}

@mixin arrow-up ($size, $colour) {
  content: "";
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;;
  border-bottom: $size solid $colour;
}

@mixin arrow-down ($size, $colour) {
  content: "";
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;;
  border-top: $size solid $colour;
}