// Typography Based on a modular scale
// 19px @ 1:1.618 (base font size)  960px @ 1:1.618 (outer wrapper width)

// Fonts

$font-family-sans: "Open Sans",Helvetica,Arial,Sans-Serif;
$font-family-serif: "Georgia",Times,Serif;
$base-sans: $font-family-sans;
$base-font-size: 19px;
$base-line-height: 1.618; // phi

// Apple iOS system font, iOS San Francisco, Apple San Francisco, Android, Windows Phone;
$system-font-family-sans: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue";


// Rem/PX
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// Headings

h1 {
  font-size: $base-font-size*2.618;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h2 {
  font-size: $base-font-size*1.74;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h3 {
  font-size: $base-font-size*1.618;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h4 {
  font-size: $base-font-size*1.076;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h5 {
  font-size: $base-font-size;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h6 {
  font-size: $base-font-size;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

// Section Headers

.section-header {
  border-bottom:1px solid scale-color($border-colour, $lightness: 50%);
  border-top:1px solid scale-color($border-colour, $lightness: 50%);
  margin: 30px 0;
}

.section-header h1 {
  margin: 0.5em 0;
}

// Article - Try to build the template so all text outputted by the CMS is within an article tag
// Consider using class .rtf for CMS output too

article p {
  margin: 0 0 1em 0;
  max-width: 40em;
  -webkit-font-variant-ligatures: discretionary-ligatures;
}

article ul {
  margin: 0 0 1em 1em;
  li {
    list-style-type: disc;
    ul {
      margin: 0 0 0 1em;
      li {
        list-style-type: circle;
      }
    }
  }
}

article ol {
  margin: 0 0 1em 1em;
  li {
    list-style-type: decimal;
    ol {
      margin: 0 0 0 1em;
      li {
        list-style-type: lower-latin;
      }
    }
  }
}

blockquote {
  padding: 0 0 0 2em;
  margin: 0 0 1em 0;
  max-width: 40em;
  border-left: 4px solid scale-color($base-font-colour, $lightness: 50%);

  cite:before {
    content: "\2014\00a0";
  }

  cite {
    font-family: $font-family-serif;
  }
}

// Horizontal Rule

hr {
  border: 0;
  margin: 1em 0;
  line-height: 1;
  text-align: center;
  font-size: $base-font-size*2;
  color: scale-color($base-font-colour, $lightness: 50%)
}

hr:after {
  content: "···";
  letter-spacing: 1em;
  height: 0;
}

// Article Links

a {
  color: $link-colour;
  text-decoration: none;
}

a:hover {
  color: $link-hover-colour;
}

a:visited {
  color: $link-colour;
}

a:active {
  color: $black;
  background: $highlight;
}

a:focus {}

// add external link state with icon to show link goes outside


// Post Images

.post-image {
  width: 33%; // Just for test page
  margin: 30px;
}

.post-image img {
  width: 100%;
  height: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.post-image.alignright {
  margin-right: 0;
}

.post-image.alignleft {
  margin-left: 0;
}


// Typography and brand

.typography-and-brand {

  font-size: $base-font-size*2.618;

  .sans p {
    font-family: $font-family-sans;
  }

  .serif p {
    font-family: $font-family-serif;
  }

  .colours {

    li {
      text-indent: -9999em;
      height: 100px;
      width: 100px;
      border-radius: 50px;
      background: $base-font-colour;
      margin: 0 1em 0 0;
      display: inline-block;
    }

    .primary {
      background: $brand-primary;
    }

    .secondary {
      background: $brand-secondary;
    }

    .tertiary {
      background: $brand-tertiary;
    }

    .error {
      background: $error;
    }

    .hightlight {
      background: $highlight;
    }
  }

}