// This is ugly and not an efficent way of doing box-sizing
* {  
  -moz-box-sizing:border-box;
  -webkit-boxizing:border-box;
  box-sizing:border-box;
}

.group:before,
.group:after {
    content: " "; 
    display: table;
}

.group:after {
    clear: both;
}

// For IE 6/7 only Include this rule to trigger hasLayout and contain floats.
.group {
    *zoom: 1;
}

// Site

html {
  font-size: 62.5%; // Creates a baseline of 1em/rem = 10px;
  background: $body-bg;

}

body {
  // background: url("../images/baseline.png");
  font-family: $base-sans;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-colour;
}

.outter-wrapper {
  max-width: 1020px;
  margin: auto;
  padding: 0 30px;
}