// Paths
$imagePath: "../images";
$fontPath: "../fonts";

//Colours

// Errors
$highlight: #FFBF47;
$error: #DF3034;

// Base Site
$base-font-colour: #222;
$body-bg: #fff;
$light-grey: #F8F8F8;
$black: #0B0C0C;
$link-colour: #005EA5;
$link-hover-colour: #2E8ACA;

// Buttons
$button: #2E358B;
$button-inactive: #6F72AF;
$button-hover: #912B88;

// Tables
$table-borders: #666;

// Borders
$border-colour: #6F777B;
$border-radius: 0px;
$input-border: #6F777B;
$input-border-focus: #FFBF47;


// Margins
$margin: 30px;

// Padding
