@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, del, em, img, q, small, strike, strong, sub, sup, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, main, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 49.742px;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h2 {
  font-size: 33.06px;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h3 {
  font-size: 30.742px;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h4 {
  font-size: 20.444px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h5 {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

h6 {
  font-size: 19px;
  font-weight: 600;
  margin: 0.5em 0 0.75em 0;
}

.section-header {
  border-bottom: 1px dotted #b6bbbe;
  border-top: 1px dotted #b6bbbe;
  margin: 30px 0;
}

.section-header h1 {
  margin: 0.5em 0;
}

article p {
  margin: 0 0 1em 0;
  max-width: 40em;
}

article blockquote {
  padding: 0 0 0 2em;
  margin: 0 0 1em 0;
  max-width: 40em;
  border-left: 4px solid #919191;
}

article ul {
  margin: 0 0 1em 1em;
}
article ul li {
  list-style-type: disc;
}
article ul li ul {
  margin: 0 0 0 1em;
}
article ul li ul li {
  list-style-type: circle;
}

article ol {
  margin: 0 0 1em 1em;
}
article ol li {
  list-style-type: decimal;
}
article ol li ol {
  margin: 0 0 0 1em;
}
article ol li ol li {
  list-style-type: lower-latin;
}

hr {
  border: 0;
  margin: 1em 0;
  line-height: 1;
  text-align: center;
  font-size: 38px;
  color: #919191;
}

hr:after {
  content: "···";
  letter-spacing: 1em;
  height: 0;
}

a {
  color: #005EA5;
  text-decoration: none;
}

a:hover {
  color: #2E8ACA;
}

a:visited {
  color: #005EA5;
}

a:active {
  color: #0B0C0C;
  background: #FFBF47;
}

.post-image {
  width: 33%;
  margin: 30px;
}

.post-image img {
  width: 100%;
  height: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.post-image.alignright {
  margin-right: 0;
}

.post-image.alignleft {
  margin-left: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-boxizing: border-box;
  box-sizing: border-box;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  *zoom: 1;
}

html {
  font-size: 62.5%;
  background: #fff;
}

body {
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-size: 19px;
  line-height: 1.618;
  color: #222;
}

.row {
  max-width: 1020px;
  margin: auto;
  padding: 0 30px;
}

table {
  width: 100%;
}
table caption {
  caption-side: bottom;
  text-align: left;
  color: #595959;
}
table th, table td {
  padding: 7.5px 0;
}
table thead {
  text-align: left;
}
table thead th {
  border-bottom: 2px solid #666;
  font-weight: bold;
}
table tbody tr {
  border-bottom: 1px solid #666;
}

input[type=text],
input[type=search],
input[type=email],
input[type=phone],
input[type=password],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 2px solid #b6bbbe;
  font-size: 19px;
  padding: 5px;
  margin: 0;
  outline: 0;
  transition: all 0.2s ease-in-out;
  width: 50%;
}

input[type=file] {
  outline: none;
  font-size: 19px;
}

textarea {
  resize: none;
}

input[type=text]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=phone]:focus,
input[type=password]:focus,
textarea:focus {
  border: 2px solid #FFBF47;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0;
  padding: 15px 30px;
  background: #2E358B;
  font-size: 19px;
  color: #F8F8F8;
  transition: all 0.2s ease-in-out;
  margin: 0 30px 0 0;
}

.button:hover {
  background: #912B88;
}

.button:active, .button:focus {
  background: #912B88;
  position: relative;
  top: 2px;
  outline: none;
}

.button[disabled="disabled"], .button:hover[disabled="disabled"] {
  background: #2E358B;
  cursor: default;
  opacity: 0.5;
}

.data-collection {
  padding: 15px;
  border: 1px solid #dbddde;
}

.form-group label, .form-group legend {
  display: block;
  padding: 0 0 7.5px 0;
}

.form-group em {
  font-style: italic;
  display: block;
  color: #919191;
  font-size: 11.74289px;
}

.form-group, .form-buttons {
  padding: 0 15px;
  margin: 0 0 30px 0;
}

.form-group .required {
  font-size: 11.74289px;
}

.form-error {
  padding: 15px;
  background: #ef9799;
}

.form-error input[type=text] {
  border-color: #DF3034;
}

.form-error span {
  font-weight: 600;
}

label.radio-group, label.checkbox-group {
  position: relative;
  background: #dbddde;
  border: 2px solid #dbddde;
  padding: 15px 30px 15px 45px;
  margin: 0 1em 1em 0;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.block-labels label.radio-group, .block-labels label.checkbox-group {
  float: left;
  display: block;
  clear: left;
}

label.radio-group:hover, label.radio-group.selected,
label.checkbox-group:hover, label.checkbox-group.selected {
  border: 2px solid #ffbf47;
}

label.radio-group input[type=radio],
label.checkbox-group input[type=checkbox] {
  position: absolute;
  top: 20px;
  left: 15px;
}

.header {
  padding: 30px 0;
  background: #F8F8F8;
}
.header .logo {
  width: 150px;
  height: 150px;
  clear: both;
  margin: auto;
}
.header .logo img {
  width: 100%;
}

.navigation {
  text-align: center;
  /* mega menu list */
  /* a top level navigation item in the mega menu */
  /* first descendant link within a top level navigation item */
  /* focus/open states of first descendant link within a top level 
  navigation item */
  /* open state of first descendant link within a top level 
  navigation item */
  /* sub-navigation panel */
  /* sub-navigation panel open state */
  /* list of items within sub-navigation panel */
  /* list item within sub-navigation panel */
}
.navigation .nav-menu {
  padding: 0;
  position: relative;
  text-align: left;
}
.navigation .nav-item > a {
  float: left;
  font-size: 1.15em;
  padding: 9px 9px 17px;
}
.navigation .sub-nav {
  background: #ccc;
}
.navigation .sub-nav-group {
  float: left;
  padding: 20px 0 20px 20px;
}
.navigation .sub-nav ul li {
  list-style: none outside none;
  margin-bottom: 5px;
  margin-left: 0;
  padding-left: 12px;
}
.navigation .sub-nav a {
  display: block;
  font-size: 105%;
  margin: 0 30px 3px 0;
  min-width: 200px;
  padding: 0 10px 3px 7px;
  line-height: 21px;
}
.navigation a {
  text-decoration: none;
}
.navigation .nav-item > a:hover,
.navigation .nav-item > a:focus,
.navigation .nav-item > a.open {
  background: transparent;
}
.navigation .nav-menu {
  display: block;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 15;
}
.navigation .nav-item {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.navigation .nav-item > a {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0 0 -1px 0;
  border: 1px solid transparent;
}
.navigation .nav-item > a.open {
  border-bottom: none;
  z-index: 1;
}
.navigation .sub-nav {
  position: absolute;
  display: none;
  top: 2.6em;
  margin-top: -1px;
  padding: 0.5em 1em;
}
.navigation .sub-nav.open {
  display: block;
}
.navigation .sub-nav ul {
  display: inline-block;
  vertical-align: top;
  margin: 0 1em 0 0;
  padding: 0;
}
.navigation .sub-nav li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 780px) {
  .nav-item {
    display: block;
    width: 100%;
  }

  .navigation li.nav-item > a {
    float: none;
    display: block;
  }

  .navigation .sub-nav {
    display: block;
    position: static;
  }

  .navigation .sub-nav-group {
    float: none;
    width: 100%;
  }

  .navigation .sub-nav a {
    min-width: 100%;
    display: block;
  }
}
/* end mq */
.footer {
  background: #0B0C0C;
  padding: 60px 0;
  margin: 30px 0 0;
}

.hero {
  position: relative;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .hero-caption {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: #0B0C0C;
  padding: 15px;
  color: #F8F8F8;
}
.hero .hero-caption h2 {
  margin: 0;
}
.hero .hero-caption a {
  color: #005EA5;
}

.triangle-up:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #000;
}

.triangle-down:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #FFBF47;
}

.grid {
  margin: 0 0 3.125% 0;
}

.grid div {
  background: #ccc;
  padding: 60px 0;
}

.full {
  width: 100%;
}

.column-half {
  width: 48.484848484848%;
  float: left;
}

.column-half:last-of-type {
  width: 48.484848484848%;
  float: right;
}

.column-third {
  width: 31.25%;
  float: left;
  margin: 0 3.125% 0 0;
}

.column-third:last-of-type {
  margin: 0;
}

.column-two-thirds {
  width: 65.625%;
  float: right;
  float: right;
}

.column-quarter {
  width: 22.65625%;
  float: left;
  margin: 0 3.125% 0 0;
}

.column-quarter:last-of-type {
  margin: 0;
}

.column-three-quaters {
  width: 74.21875%;
  float: right;
}

.column-fifth {
  width: 17.5%;
  float: left;
  margin: 0 3.125% 0 0;
}

.column-fifth:last-of-type {
  margin: 0;
}

.column-two-fiths {
  width: 38.125%;
  float: left;
}

.column-three-fiths {
  width: 58.75%;
  float: right;
}

.column-four-fiths {
  width: 79.375%;
  float: right;
}

 
.hero {
  position: relative;
}
 
.hero img {
  width: 100%;
  height: auto;
}
 
.hero .hero-caption {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: #0B0C0C;
  padding: 15px;
  color: #F8F8F8;
}
 
.hero .hero-caption h2 {
  margin: 0;
}
 
.hero .hero-caption a {
  color: #005EA5;
}

.tabs {
  margin: 60px 0;
}

.tabs ul {
  margin: 0 0 30px 0;
}
.tabs ul li {
  display: inline-block;
}
.tabs ul li:first-child {
  border-right: 2px solid #6F777B;
}
.tabs ul li a {
  margin: 0 0 0 15px;
}
.tabs ul li a.selected {
  color: #0B0C0C;
}
.tabs ul li:first-child a {
  margin: 0 15px 0 0;
}

/*# sourceMappingURL=screen.css.map */
