// Pixel widths
$grid-measure-px: 105px;
$grid-gap: 36px;
$grid-max-width: 1656px;

$grid-measure: percentage($grid-measure-px / $site-max-width);
$grid-gutter: percentage($grid-gap / $site-max-width);

// Magic! Use like this: flex: 0 0 grid-width(8);
@function grid-width($n) {
  @return $n * $grid-measure + ($n - 1) * $grid-gutter;
}

@mixin unset-grid-layout {
  display: block;
  grid-template-columns: unset;
  grid-auto-rows: unset;
  grid-gap: unset;
}

@mixin unset-grid {
  display: block;
  grid-column: unset;
  grid-gap: unset;
  grid-row: unset;
}

@mixin product-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: $grid-gap;
  grid-row-gap: $grid-gap;

  // @media screen and (max-width: $large-screen) {
  //   grid-template-columns: repeat(3, 1fr);
  // }
  @media screen and (max-width: $small-screen) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@mixin layout-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $grid-gap;
  grid-row-gap: $grid-gap;
  @media screen and (max-width: $small-screen) {
    @include unset-grid-layout;
  }
}

@mixin layout-grid-halves {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $grid-gap;
}

@mixin layout-grid-thirds {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: $grid-gap;
  @media screen and (max-width: $small-screen) {
    grid-template-columns: repeat(2, 1fr)
  }
}

@mixin layout-grid-mobile-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 0;
}
